*{
  margin: 0;
  padding: 0;
}

header{
    width: 100%;
    background:black;
    height: 70px;
  }
/*Modificando El Ancho */
.ancho{
    width: 80%;
    height: 70px;
    /*background: red;*/
    margin: auto;
  }

  .logo{
    width: 30%;
    height: 70px;
   /* background: blue; */
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
  }
  .logo p a{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: Archi;
  }

  nav{
    width: 70%;
    height: 70px;
    /*background: olive;*/
     float: left;
     text-align: right;
     padding-top: 24px;
     box-sizing: border-box;
  }

  nav ul li{
    display: inline;
  }

  nav ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Archi;
  }
  nav ul li a:hover{
    color:#00ACC1;

  }

  @font-face{
    font-family:Rale;
    src: url(Fuentes/Raleway-Regular.ttf);
}

  @font-face{
    font-family:Archi;
    src: url(Fuentes/Archi.ttf);
}

.ancho li i{
  margin-right: 10px;
}


.TEXTO h4{
	text-align: center;
	margin-top: 20%;
	font-size: 40px;
	font-family: Archi;
}

.TEXTO .WPP{
	text-align: center;
	letter-spacing: 3px;
	font-weight: 900;
	margin-top: 45px;
	
}

.TEXTO .Insta{
	text-align: center;
	letter-spacing: 5px;
	font-weight: 900;
	margin-top: 40px;
	
}

.Mercado{
	text-align: center;
	letter-spacing: 5px;
	font-weight: 900;
	margin-top: 40px;
	font-family: Archi;
}